<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="side-header">
    <div class="preloader preloader-dark">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header id="header" class="sticky-top">
            {{- partial "sidebar.html" . -}}
        </header>

        <div id="content" role="main">
            {{- block "main" . }}{{- end }}
        </div>
    </div>
    <a id="back-to-top" class="rounded-circle mb-5" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 
    {{- partial "footer.html" . -}}
</body>

</html>