{{ define "main" }}

 <section id="{{ .Title }}" class="section bg-light">
      <div class="container px-lg-5">
        <!-- Heading -->
        <div class="position-relative d-flex text-center mb-5">
          <h2 class="text-15 text-secondary opacity-1 text-uppercase fw-600 w-100 mb-0">{{ .Title }}</h2>
          <p class="text-7 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0">{{ .Title }}<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span></p>
        </div>
        <!-- Heading end-->
        <div class="row gy-5">
          {{ $cols := split .Content "{split}" }}
          {{ $len := math.Floor (div 12 (len $cols)) }}
          {{ range $cols }}
            <div class="col-md-{{ $len }} col-sm-12">
              {{ . | safeHTML }}
            </div>
          {{ end }}
        </div>
      </div>
</section>

{{ end }}