<footer class="footer fixed-bottom bg-dark">
    <div class="row footer-text">
        <div class="col-12 col-md text-center text-md left nav-link text-light">
            &copy; {{ replace .Site.Params.Copyright "{year}" now.Year }}
        </div>
    </div>
    
    {{ $jsBundle := slice }}
    {{ $jsBundle := $jsBundle | append (resources.Get "vendor/jquery/jquery.min.js") }}
    {{ $jsBundle := $jsBundle | append (resources.Get "vendor/bootstrap/js/bootstrap.bundle.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/jquery.easing/jquery.easing.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/jquery.appear/jquery.appear.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/imagesloaded/imagesloaded.pkgd.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/jquery.countTo/jquery.countTo.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/parallaxie/parallaxie.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/typed/typed.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/owl.carousel/owl.carousel.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/isotope/isotope.pkgd.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "vendor/magnific-popup/jquery.magnific-popup.min.js") }}
    {{ $jsBundle :=  $jsBundle | append (resources.Get "js/theme.js") }}

    {{ $js := $jsBundle | resources.Concat "js/main.js" | resources.Minify }}

    <script src="{{ $js.RelPermalink | absURL }}"></script>
    
    {{ if ($.Scratch.Get "photoswipeloaded") }}
        <script src="/js/load-photoswipe.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
    {{ end }}

    <script id="google-recaptcha-v3" src="https://www.google.com/recaptcha/api.js?render=6Le4h6ccAAAAACzcAHXK0IMju_Y70_oSpqhQZ_5i"></script>
</footer>