{{ define "main" }}

<div class="hero-wrap">
    <div class="hero-mask opacity-8 bg-dark"></div>
    <div class="hero-bg parallax" style="background-image:url('/img/Cosmic_Reef.gif');"></div>
    <div class="hero-content section d-flex fullscreen">
      <div class="container my-auto">
        <div class="row">
          <div class="col-12 text-center">
            <div class="typed-strings">
              <p>I'm Francisco Maion</p>
              <p>I'm a PhD Student</p>
              <p>I'm a Physicist</p>
              <p>I'm a Computation Cosmologist</p>
            </div>
            <p class="text-7 fw-500 text-white mb-2 mb-md-3">Welcome</p>
            <h2 class="text-16 fw-600 text-white mb-2 mb-md-3"><span class="typed"></span></h2>
            <p class="text-5 text-light mb-4">based in Donostia / San Sebastián - Spain</p>
            <a href="/about/" class="btn btn-outline-primary rounded-pill shadow-none smooth-scroll mt-2">About Me</a>
          </div>
        </div>
      </div>
  </div>

{{ end }}