<form id="contact-form" class="form-dark" action="/php/mail.php" method="post">
    <div class="row g-4">
        <div class="col-xl-6">
            <input name="name" type="text" class="form-control" required placeholder="Name">
        </div>
        <div class="col-xl-6">
            <input name="email" type="email" class="form-control" required placeholder="Email">
        </div>
        <div class="col">
            <textarea name="form-message" class="form-control" rows="5" required
                placeholder="{{ .Get "message" }}"></textarea>
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div id="recaptcha-v2" data-sitekey="6Le4h6ccAAAAACzcAHXK0IMju_Y70_oSpqhQZ_5i" class="g-recaptcha" ></div>
    <p class="text-center mt-4 mb-0">
        <button id="submit-btn" class="btn btn-primary rounded-pill d-inline-flex" type="submit">{{ .Get "submit" }}</button>
    </p>
</form>